//HOME

.home {
  #content {
    .row {
      .span3 {
        @media all and (min-width: 50em) {
          text-align:right;
        }
        h2 {
          margin-bottom:20px;
          @media all and (min-width: 50em) {
            margin-right:40px;
            margin-bottom:0;
          }
        }
      }
      .span9 {
        section {
          h2 {
            display:none;
          }
        }
      }
      .alm-btn-wrap {
        button {
          @extend .button-style;
          border-left:none;
          border-right:none;
          border-top:none;
          background:none !important;
          margin-left:0;
          padding-left:0;
          &:after {
            content: "+";
            margin-left:10px;
          }
          &.done {            
            cursor: default;
            display:none;
          }
        }
      }
      .ajax-load-more-wrap  {
        ul {
          li {
            
          }
        }
      }
    }
    #work-row {
      .ajax-load-more-wrap  {
        .alm-reveal {
          @extend .cf;
          @media all and (min-width: 50em) {
            margin-bottom:20px;
          }
        }
        ul {
          li {
            @extend .span4;
            @extend .col;
            margin-bottom:20px;
            & > a {
              border:none;
            }
            img {
              border:none;
              height:auto;
              width:100%;
              z-index:1;
            }
            p {
              @extend .small-text;
              color:$light-grey;
            }
            p.entry-meta {
              display:none;
            }
            h3 {
              z-index:998;
              a {
                border-bottom:none;
                font-style:normal;
                text-decoration:none;
                z-index:999;
                &:hover {
                  border-bottom: 1px solid $link-color;
                }
              }
            }
            @media all and (min-width: 50em) {
              margin-bottom:0;
            }
          }
        }
      }
    }
    #skills-row {
      .span9 {
        ul {
          margin-bottom:10px;
          li { 
            display:inline;
            &:last-of-type {
              &:after {
                content:'';
                padding-left:0;
                margin-right:0;
              }
            }
            &:after {
              content:'/';
              color:$light-grey;
              padding-left:10px;
              margin-right:10px;
            }
          }
        }
      }
    }
    #blog-row {
      .ajax-load-more-wrap  {
        ul {
          li {
            @extend .span12;
            margin-bottom:20px;
            h3 {
              a {
                border-bottom:none;
                font-style:normal;
                text-decoration:none;
                &:hover {
                  border-bottom: 1px solid $link-color;
                }
              }
            }
            p {
              display:none;
              &.entry-meta {
                @extend .small-text;                
                color: $light-grey;
                display:block;
              }
            }
          }
        }
      }
    }
    #about-row {
      .span9 {
        p {
          margin-bottom:10px;
        }
      }
    }
    #instagram-row {
      .span4, .span2 {
        margin-bottom:20px;
        @media all and (min-width: 50em) {
          margin-bottom:0;
        }
      }
      .span2 {
        @media all and (max-width: 50em) {
          width:48%;
        }
        &.med-col {
          margin-right:4%;
          @media all and (min-width: 50em) {
            margin-right:0;
          }
        }
        @media all and (min-width: 50em) {
          
        }
      }
    }
  }
}

//SINGLE POST

.single-post {
  #content {
    #primary {
      #main {
        article.post {
          margin-bottom:40px;
          .entry-content {
            margin-bottom:30px;
            .work-image-container {
              margin-bottom:20px;
              .col {
                margin-bottom:10px;
              }
            }
            p {
              margin-bottom:10px;
            }
            img {
              height:auto;
            }
            ul {
              list-style:disc;
              margin-left:35px;
              margin-bottom:20px;
              li {
                font-style:italic;
              }
            }
          }
          .entry-footer {
            @extend .small-text;
            color: $light-grey;
            .posted-on {
              .updated {
                display:none;
              }
            }
          }
        }
        nav.navigation {
          margin-bottom:40px;
          .nav-links {
            .nav-previous,.nav-next {
              display:inline-block;
            }
            .nav-previous {
              margin-right:10px;
            }
          }
        }
        div.comments-area {
          border-top:1px dashed $dark-beige;
          margin-top:20px;
          padding-top:30px;
          p.comments-title {
            font-weight:bold;
            margin-bottom:20px;
            span {
              font-weight:bold;
              font-style:italic;
            }
          }
          ol.comment-list {
            margin-bottom:30px;
            li {
              margin-bottom:20px;
            }
            .comment-content {
              margin-top:5px;
              margin-bottom:5px;
            }
          }
        }
      }
      .post-sidebar {
        #secondary {
          .widget_text {
            //@extend .small-text;
            .textwidget {
              font-weight:700;
            }
          }
          .widget_recent_entries {
            h1 {
              display:none;
            }
            a {
              @extend .small-text;
            }
            span {
              @extend .small-text;
              color: $light-grey;
            }
          }
        }
        .sidebar-contact {
          border-top:1px dashed $dark-beige;
          p {
            @extend .small-text;
            &:first-of-type {
              margin-bottom:5px;
            }
          }
        }
      }
    }
  }
}

//ARCHIVE PAGES

body.archive {
  #content {
    #primary {
      #main.site-main {
        .page-header {
          h1.page-title {
            margin-bottom:20px;
          }
        }
        
        & > article {
          border-bottom: 1px dashed #cbc2ac;
          padding-bottom:20px;
          margin-bottom:20px;
          .entry-header {
            margin-bottom:10px;
          }
          .entry-content {
            p {
              display:none;
              &:first-of-type {
                display:block;
              }
              &:nth-of-type(2){ 
                display:block;
              }
              &:nth-of-type(3){  
                display:block;
              }
            }
            img {
              display:none;
            }
            ul,ol {
              display:none;
            }
            a.page-link {
              margin-top:10px;
            }
          }
          .entry-footer {
            display:none;
          }
        }
        & > article.category-blog {
          .entry-content {
            p {
              display:none;
              &:first-of-type {
                display:block;
              }
              &:nth-of-type(2){ 
                display:none;
              }
              &:nth-of-type(3){  
                display:none;
              }
            }
          }
          .entry-footer {
            display:block;
          }
        }
      }
    }
  }
}

//ERROR 404 PAGE

.error404 {
  #content {
    #primary {
      #main.site-main {
        .page-header {
          h1.page-title {
            margin-bottom:20px;
          }
        }
        .page-content {
          p {
            margin-bottom:30px;
          }
        }
      }
    }
  }
}


.alm-listing{
	margin: 0;
	padding: 0;
}
	.alm-listing li{
		background: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		position: relative;
		list-style: none;
	}						
	.alm-listing li a{
		color: #34383D;
	}
	.alm-listing li p{
		margin: 0;
	}
	.alm-listing li h3{
		margin: 0;
	}
	.alm-listing li img{

	}		