/*--------------------------------------------------------------
2.0 - Variables
--------------------------------------------------------------*/

$totalColumns : 12;
$gutterWidth : 1%;

$line-height : 1.5em;
$line-height-large : 1.6em;

$bp-small : 24em;
$bp-med : 46.8em;
$bp-large : 50em;
$bp-xl : 73em;



$font-family-sans-serif : 'Lato', sans-serif !default;

$font-family-base : $font-family-sans-serif !default;
$font-size-base: 14px !default;



$white : #ffffff;
$beige : #fef3d7;
$dark-beige : #CBC2AC;
$light-blue : #60b4d0;
$blue : #4D90A6;
$light-grey : #959a9e;
$med-grey : #666666;
$grey : #313131;

$body-text : $grey;
$link-color : $body-text;