/* VARIABLES

Contents
==================================================
    #Colors
    #Sizes
    #Breakpoints
    #Grid
*/
/* #Colors */
/* #Sizes*/
/* #Breakpoints */
/* #Grid */
/* line 10, ../../src/scss/_htmlbp.scss */
html {
  background: #ffffff;
}

/* line 14, ../../src/scss/_htmlbp.scss */
body {
  background: transparent;
  color: #000000;
}

/* line 23, ../../src/scss/_htmlbp.scss */
::-moz-selection {
  background: #222222;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* line 29, ../../src/scss/_htmlbp.scss */
::selection {
  background: #222222;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* line 36, ../../src/scss/_htmlbp.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #222222;
  margin: 1em 0;
  padding: 0;
}

/* line 46, ../../src/scss/_htmlbp.scss */
img {
  vertical-align: middle;
}

/* line 51, ../../src/scss/_htmlbp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 58, ../../src/scss/_htmlbp.scss */
textarea {
  resize: vertical;
}

/* line 69, ../../src/scss/_htmlbp.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 77, ../../src/scss/_htmlbp.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 85, ../../src/scss/_htmlbp.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 103, ../../src/scss/_htmlbp.scss */
.visuallyhidden,
.adr .type i {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 110, ../../src/scss/_htmlbp.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 121, ../../src/scss/_htmlbp.scss */
.invisible {
  visibility: hidden;
}

/* line 135, ../../src/scss/_htmlbp.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 141, ../../src/scss/_htmlbp.scss */
.clearfix:after {
  clear: both;
}

/* line 147, ../../src/scss/_htmlbp.scss */
.clearfix {
  *zoom: 1;
}

/* line 156, ../../src/scss/_htmlbp.scss */
.chromeframe {
  width: 90%;
  margin: 0;
  background: #ccc;
  padding: 1em 5%;
  color: #000;
  text-align: center;
}

/* normalize.css v1.1.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 11, ../../src/scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 30, ../../src/scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 43, ../../src/scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 53, ../../src/scss/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 72, ../../src/scss/_normalize.scss */
html {
  background: #ffffff;
  /* 1 */
  color: #000000;
  /* 2 */
  font-size: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
  -ms-text-size-adjust: 100%;
  /* 4 */
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */
/* line 84, ../../src/scss/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 96, ../../src/scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 104, ../../src/scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 113, ../../src/scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 121, ../../src/scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 126, ../../src/scss/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 134, ../../src/scss/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
/* line 143, ../../src/scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 149, ../../src/scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */
/* line 158, ../../src/scss/_normalize.scss */
mark {
  background: #222222;
  color: #000000;
}

/**
 * Address margins set differently in IE 6/7.
 */
/* line 167, ../../src/scss/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 176, ../../src/scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 189, ../../src/scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
/* line 199, ../../src/scss/_normalize.scss */
q {
  quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */
/* line 207, ../../src/scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 217, ../../src/scss/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 225, ../../src/scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 233, ../../src/scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 237, ../../src/scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 249, ../../src/scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 256, ../../src/scss/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 264, ../../src/scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 274, ../../src/scss/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 289, ../../src/scss/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 298, ../../src/scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 310, ../../src/scss/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 322, ../../src/scss/_normalize.scss */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 330, ../../src/scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 342, ../../src/scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 356, ../../src/scss/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 371, ../../src/scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 383, ../../src/scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 398, ../../src/scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 411, ../../src/scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 423, ../../src/scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 437, ../../src/scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 449, ../../src/scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 458, ../../src/scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 * 3. Limit resizing to vertical only. {pf}
 */
/* line 470, ../../src/scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 484, ../../src/scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 491, ../../src/scss/_normalize.scss */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* MIXINS

Contents
==================================================
    #Breakpoints
    #Grid
*/
/* #Breakpoints */
/* #Grid */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/* TYPE

Contents
==================================================
    #Body
    #Headers
    	#Custom
    #Misc
*/
/* #Body */
/* line 14, ../../src/scss/_type.scss */
body {
  font: 80%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}
@media (min-width: 46.8em) {
  /* line 14, ../../src/scss/_type.scss */
  body {
    font-size: 100%;
  }
}
@media (min-width: 73em) {
  /* line 14, ../../src/scss/_type.scss */
  body {
    font-size: 110%;
  }
}

/* #Headers */
/* line 34, ../../src/scss/_type.scss */
h1 {
  font-size: 2em;
  line-height: 1em;
  margin: 0 0 0.6em 0;
}

/* line 39, ../../src/scss/_type.scss */
h2 {
  font-size: 1.4em;
  line-height: 1em;
  margin: 0 0 0.5em 0;
}

/* line 44, ../../src/scss/_type.scss */
h3 {
  line-height: 1em;
  margin: 0 0 0.4em 0;
}

/* line 48, ../../src/scss/_type.scss */
h4, h5, h6 {
  line-height: 1em;
  margin: 0 0 0.2em 0;
}

/* #Custom */
/* line 55, ../../src/scss/_type.scss */
#masthead h1, h2 {
  margin-bottom: 0;
}

/* #Misc */
/* line 60, ../../src/scss/_type.scss */
a {
  text-decoration: underline;
}
/* line 62, ../../src/scss/_type.scss */
a:hover {
  text-decoration: none;
}

/* line 66, ../../src/scss/_type.scss */
p {
  margin: 0;
}

/* line 69, ../../src/scss/_type.scss */
ul {
  margin: 0;
  padding-left: 1.4em;
}

/* GRID

Contents
==================================================
    #Define grid
*/
/* #Define grid */
/* line 12, ../../src/scss/_grid.scss */
.span1, .span2, .span3, .span4, .span5, .span6, .half-width, .span7, .span8, .span9, .span10, .span11, .span12, .full-width {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
}

/* line 18, ../../src/scss/_grid.scss */
.col:first-child {
  margin-left: 0;
}

@media (min-width: 50em) {
  /* line 24, ../../src/scss/_grid.scss */
  .col {
    margin-left: 1%;
  }

  /* line 27, ../../src/scss/_grid.scss */
  .span1 {
    width: 7.41667%;
  }

  /* line 30, ../../src/scss/_grid.scss */
  .span2 {
    width: 15.83333%;
  }

  /* line 33, ../../src/scss/_grid.scss */
  .span3 {
    width: 24.25%;
  }

  /* line 36, ../../src/scss/_grid.scss */
  .span4 {
    width: 32.66667%;
  }

  /* line 39, ../../src/scss/_grid.scss */
  .span5 {
    width: 41.08333%;
  }

  /* line 42, ../../src/scss/_grid.scss */
  .span6, .half-width {
    width: 49.5%;
  }

  /* line 45, ../../src/scss/_grid.scss */
  .span7 {
    width: 57.91667%;
  }

  /* line 48, ../../src/scss/_grid.scss */
  .span8 {
    width: 66.33333%;
  }

  /* line 51, ../../src/scss/_grid.scss */
  .span9 {
    width: 74.75%;
  }

  /* line 54, ../../src/scss/_grid.scss */
  .span10 {
    width: 83.16667%;
  }

  /* line 57, ../../src/scss/_grid.scss */
  .span11 {
    width: 91.58333%;
  }

  /* line 60, ../../src/scss/_grid.scss */
  .span12, .full-width {
    width: 100%;
    margin-left: 0;
  }
}
/* CUSTOM STYLES */
/* line 5, ../../src/scss/_custom.scss */
#page {
  text-align: center;
}
/* line 7, ../../src/scss/_custom.scss */
#page #masthead {
  background: #ffffff;
}
/* line 10, ../../src/scss/_custom.scss */
#page #content {
  background: #222222;
}
/* line 13, ../../src/scss/_custom.scss */
#page #colophon {
  background: blue;
}

/* line 20, ../../src/scss/_custom.scss */
.menu-toggle,
.main-navigation.toggled .nav-menu {
  display: block;
}

/* line 25, ../../src/scss/_custom.scss */
.main-navigation ul {
  display: none;
}

@media (min-width: 46.8em) {
  /* line 30, ../../src/scss/_custom.scss */
  .menu-toggle {
    display: none;
  }

  /* line 33, ../../src/scss/_custom.scss */
  .main-navigation ul {
    display: block;
  }
}
/* line 53, ../../src/scss/_custom.scss */
.inner.image-only img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
